# Logging:
RAGBOT__LOG_LEVEL=INFO

# Domain:
RAGBOT__DOMAIN_MODULE_PATH=cv-bot

# RAG:
RAGBOT__RAG_RETRIEVAL_LIMIT=3

# Context storage:
RAGBOT__TINYDB__DB_PATH='./tinydb.db'
RAGBOT__TINYDB__TABLE_NAME=cv-bot

# AI Chat backend:
RAGBOT__AI_CHAT_BACKEND=openai

# Embeddings backend:
RAGBOT__EMBEDDINGS_BACKEND=openai

# Discord:
RAGBOT__DISCORD__TOKEN=

# OpenAI:
RAGBOT__OPENAI__API_KEY=
RAGBOT__OPENAI__MODEL=gpt-4o-mini
RAGBOT__OPENAI__EMBEDDING_MODEL=text-embedding-3-small
RAGBOT__OPENAI__TEMPERATURE=0.5
RAGBOT__OPENAI__MAX_TOKENS=2000

# Mistral:
RAGBOT__MISTRALAI__API_KEY=
RAGBOT__MISTRALAI__MODEL=mistral-small-latest
RAGBOT__MISTRALAI__TEMPERATURE=0.5
RAGBOT__MISTRALAI__MAX_TOKENS=2000

# Jina:
RAGBOT__JINA__API_KEY=
RAGBOT__JINA__API_ENDPOINT=https://api.jina.ai/v1/embeddings

# Milvus:
RAGBOT__MILVUS__URI='./milvus.db'
RAGBOT__MILVUS__COLLECTION_NAME=
RAGBOT__MILVUS__VECTOR_DIMENSION=1536
