# Logging:
RAGBOT__LOG_LEVEL=INFO

# Domain:
RAGBOT__DOMAIN_MODULE_PATH=cv-bot

# RAG:
RAGBOT__RAG_RETRIEVAL_LIMIT=3

# Discord:
RAGBOT__DISCORD__TOKEN=

# OpenAI:
RAGBOT__OPENAI__API_KEY=
RAGBOT__OPENAI__EMBEDDING_MODEL=text-embedding-3-small

# Milvus:
RAGBOT__MILVUS__URI='./milvus.db'
RAGBOT__MILVUS__COLLECTION_NAME=
RAGBOT__MILVUS__VECTOR_DIMENSION=1536
