# Logging:
RAGBOT__LOG_LEVEL=INFO

# Discord:
RAGBOT__DISCORD__TOKEN=

# OpenAI:
RAGBOT__OPENAI__API_KEY=

# Milvus:
RAGBOT__MILVUS__URI='./milvus.db'
RAGBOT__MILVUS__COLLECTION_NAME=
RAGBOT__MILVUS__VECTOR_DIMENSION=1024
