# Python
*.egg-info
*.pot
*.py[co]
*.py[oc]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
tests/report/
wheels/

# mypy cache
.mypy_cache/

# Virtual environments
.venv

# Environment data
.env*
!.env.example

# Milvus local DB:
*.db
